<div class="container-fluid">
    <div class="home">
        <div class="card mt-3 shadow-lg">
            <img src="./assets/img/fleet-background.jpg" class="card-img" alt="Library image" height="119">
            <div class="card-title card-img-overlay bg-dark image-dark-opacity"></div>
            <div class="card-img-overlay">
                <h1 class="title text-center text-white">Fleet Of Cars</h1>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="d-inline col-sm-2">
                        <button class="btn btn-info btn-block" routerLink="/signin">Sign In</button>
                    </div>
                    <div class="d-inline col-sm-5">
                    </div>
                    <div class="d-inline col-sm-3">
                        <img class="user-img" src="./assets/img/user.png" alt="User image" width="80" height="80">
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-4 shadow-lg">
            <div class="card-header mission-header">
                Mission / Vision
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0 font-list">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Create a functional web application, have a formal code, in the same
                            professional way, putting into practice all the knowledge that I acquired in the course of
                            my professional education, contribute a little to the institution that gave me a high level
                            of knowledge over six years.
                        </li>
                        <li class="list-group-item">
                            Use the creation time of this challenging project, to streamline my skills in the field of
                            programming, in the same way, to be able to refresh previous knowledge, which over time tend
                            to cease to be practiced, to exceed my expectations, challenging myself to be better at
                            quality and quality, to be able to provide a functional tool to the new generations, showing
                            that the XXVII promotion left the institution capable of giving the best of itself in the
                            labor field.
                        </li>

                    </ul>
                </blockquote>
                <footer class="blockquote-footer">
                    FleetOfCars <cite title=" Source Title">Michael Mazariegos</cite>
                </footer>
                <!-- <img src="./assets/img/kinal-logo.png" alt="Logo Funcación Kinal" class="kinal-img"> -->
            </div>
        </div>
    </div>
</div>