<div class="container-sm">
    <div class="login">
        <img class="img-logo" src="./assets/img/car.jpg" alt="library icon" width="150" height="150">
        <h1 class="title text-center my-4">
            Sign in to Fleet Of Cars
        </h1>
        <div class="login-form card">
            <div class="card-body">
                <form class="form col-md-12 center-block" #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username" class="form-label"><strong>Username / Email</strong></label>
                        <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control"
                            id="username" placeholder="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label text-strong"><strong>Password</strong></label>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password"
                            class="form-control" id="password" placeholder="my best password">
                    </div>
                    <button class="btn btn-success btn-lg btn-block button" type="submit">
                        Sign In
                    </button>
                </form>
            </div>
        </div>
        <div class="footer p-responsive pt-4 px-3 mt-5 text-center  ">
            <ul class="list-inline d-flex flex-justify-center">
                <li class="list-inline-item mr-4">
                    <a class="list-inline-item text-decoration-none" routerLink="/">Contact to admin</a>
                    
                </li>
                <li class="list-inline-item mr-4">
                    <a class="list-inline-item text-decoration-none" routerLink="/">Recover password</a>
                </li>
                <li class="list-inline-item mr-4">
                    <a class="list-inline-item text-decoration-none" routerLink="/home">About</a>
                </li>
                <li>
                    <a class="list-inline-item text-decoration-none" routerLink="/">Terms & Policy</a>
                </li>
            </ul>
        </div>
    </div>
</div>